.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.block-icon {
  font-size: 32px !important;
  color: black;
}

.btn {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}

.btn i {
  margin-right: 1rem;
}

.btn-art-class {
  color: black;
  padding-left: 0 !important;
}
